.effect_icon:hover{
color:cornflowerblue;
}

#fff :hover{
background-color: lightcoral;

}
.table tr td:hover:last-child{
  background-color: lightcoral;
  color:lightcyan;
  font-size: larger;
}

.table tr td:hover:nth-child(5){
  background-color:lightgreen;
  color:midnightblue;
  font-size: larger;
}